 /*Reset styles for the entire document*/
 *{
    padding:0;
    margin:0;
    box-sizing:border-box;

}

#memeContainer {
    max-width: 1250px;
	margin: 0 auto;
    padding-left: 10px;
	display: grid;
	gap: 40px;
	grid-template-columns: 370px 370px 370px;
}

/* Style for delete button */
.delete {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

