 /*Reset styles for the entire document*/
 *{
    padding:0;
    margin:0;
    box-sizing:border-box;
    background-color: azure;

}
h1, p {
    text-align: center;
}
#myForm{
    width: 400px;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid skyblue;
}
#addMemeForm {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

#meme-Container {
    max-width: 1250px;
	margin: 0 auto;
    padding-left: 10px;
	display: grid;
	gap: 40px;
	grid-template-columns: 370px 370px 370px;
}


/* Style for delete button */
.delete {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

